***

##### Exploratory Data Analysis

In [3]:
### Getting an overview of the data
dask_df.head()

     year    state state_po  ... candidatevotes  totalvotes     version
0  2016.0  Alabama       AL  ...         5936.0     24973.0  20190722.0
1  2016.0  Alabama       AL  ...        18172.0     24973.0  20190722.0
2  2016.0  Alabama       AL  ...          865.0     24973.0  20190722.0
3  2016.0  Alabama       AL  ...        18458.0     95215.0  20190722.0
4  2016.0  Alabama       AL  ...        72883.0     95215.0  20190722.0

[5 rows x 11 columns]

In [4]:
# Getting overview of the the data type (dtype) of all the features and get an overview of features with missing values via the 'Non-Null count'
dask_df.compute().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9474 entries, 0 to 9473
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            9474 non-null   float64
 1   state           9474 non-null   object
 2   state_po        9462 non-null   object
 3   county          9474 non-null   object
 4   FIPS            9462 non-null   float64
 5   office          9474 non-null   object
 6   candidate       9474 non-null   object
 7   party           6316 non-null   object
 8   candidatevotes  9468 non-null   float64
 9   totalvotes      9474 non-null   float64
 10  version         9474 non-null   float64
dtypes: float64(5), object(6)
memory usage: 814.3+ KB

In an attempt to manage memory, Dask takes all the numeric values as float and non-numeric values as objects