In [19]:
c = dask_df["county"].unique().compute()
county = dict((i,dict()) for i in list(c))

Creating a new dataframe would have been done by `dd.DataFrame()` but dask advices us not use this class directly.  Instead use functions like
``dd.read_csv``, ``dd.read_parquet``, or ``dd.from_pandas``.
So, we will work with pandas to create a new dataframe then convert it to a Dask dataframe.

In [20]:
i = 0
data = []

for row in range(len(dask_df)):
    
    df = dask_df.compute()
    
    c = df.loc[row,"county"]
    s = df.loc[row,"state"]
    f = df.loc[row,"FIPS"]
    y = df.loc[row, "year"]
    
    can_nm = df.loc[row, "candidate"]
    party =  df.loc[row, "party"]
    votes =  df.loc[row, "candidatevotes"]
    year = df.loc[row, "year"]
    
    if f not in county[c].keys():
        county[c][f] = {}
        
    county[c][f]['county'] = c
    county[c][f]["fips"] = f
    county[c][f][f"candidate({party.strip()[0]})"] = can_nm
    county[c][f][f"votes ({party.strip()[0]})"] = votes
    county[c][f]['year'] = y

In [21]:
data = []
for key, items in county.items():

    for key, item in items.items():
        data.append(item)

In [22]:
dt = pd.DataFrame(data)
df = dd.from_pandas(dt,npartitions=1)

In [23]:
df.head()

    county   fips     candidate(d)  ...  votes (r)  candidate(O) votes (O)
0  Autauga  01001  Hillary Clinton  ...    18172.0         Other     865.0
1  Baldwin  01003  Hillary Clinton  ...    72883.0         Other    3874.0
2  Baldwin  13009  Hillary Clinton  ...     7697.0         Other     449.0
3  Barbour  01005  Hillary Clinton  ...     5454.0         Other     144.0
4  Barbour  54001  Hillary Clinton  ...     4527.0         Other     305.0

[5 rows x 9 columns]