#### Dropping redundant features

In [5]:
# dask operation
dask_df = dask_df.drop('state_po', axis=1)

In [6]:
dask_df.head()

     year    state   county  ...  candidatevotes totalvotes     version
0  2016.0  Alabama  Autauga  ...          5936.0    24973.0  20190722.0
1  2016.0  Alabama  Autauga  ...         18172.0    24973.0  20190722.0
2  2016.0  Alabama  Autauga  ...           865.0    24973.0  20190722.0
3  2016.0  Alabama  Baldwin  ...         18458.0    95215.0  20190722.0
4  2016.0  Alabama  Baldwin  ...         72883.0    95215.0  20190722.0

[5 rows x 10 columns]